= form_for [current_user, @question] do |f|
  = f.hidden_field :user_id
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :body
    = f.text_area :body, cols: "30", rows: "10"
  %p
    = f.submit 'Submit'
