= form_for [current_user, @question] do |f|
  = f.hidden_field :user_id
  .row
    .col-md-12
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = f.label :body
        = f.text_area :body, cols: "30", rows: "10", class: 'form-control'
  .row
    .col-md-12
      = f.submit 'Submit', class: 'btn btn-md btn-outline-success'
