.row.form-group
  .col-md-12
    .row
      .col-md-12
        .bg-gray
          = markdown(answer.body)
    .row
      .col-md-12
        = "Score:"
        %span.badge.badge-primary
          = answer.score
    .row
      .col-md-12
        %em= "#{ answer.user.email } #{ answer.user.decorate.flair } | #{ distance_of_time_in_words(Time.now, answer.created_at) } ago#{ answer.time_ago_if_edited }".html_safe
  - if current_user.answers.include?(answer) || moderator_user
    .row
      .col-md-12
        = link_to 'edit answer', edit_user_answer_path(current_user, answer), class: 'btn btn-md btn-outline-info'
        = link_to 'delete answer', user_answer_path(current_user, answer), method: :delete, class: 'btn btn-md btn-outline-danger'
- unless current_user.answers.include?(answer)
  .row
    .col-md-12
      = render 'votes/votable', resource: answer, vote_cast: current_user.vote_cast(answer), question: @question
%hr
