= form_for [current_user, @answer] do |f|
  = f.hidden_field :question_id
  = f.hidden_field :user_id
  %p
    = f.label :body
    = f.text_area :body, cols: "30", rows: "10"
  %p
    = f.submit 'Submit'
